/***************** CONFIGURARÇÃO VARIÁVEIS *****************/

:root {
    /****** CORES *******/
    --clr-primaria: #f23005;
    --clr-segundaria: #1F2326;
    --clr-terciaria: #f1f1f1;
}

/****** FONTES *******/
@font-face {
    font-family: 'Backslash';
    src: url('../fonts/Backslash-Reguler.otf') format ('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format ('truetype');
    font-weight: normal;
    font-style: normal;
}

/***************** CONFIGURARÇÃO GERAL *****************/

body {
    background: var(--clr-terciaria);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    color: var(--clr-terciaria);
    font-family: 'Backslash', Times,  Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.2rem;
    line-height: 3.5rem;
}

h1 .destaque {
    color: var(--clr-primaria);
}

p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1.8rem;
    color: var(--clr-terciaria);
}

/***************** CONFIGURAÇÃO NAVEGAÇÃO *****************/

#nav-bar {
    width: 80%;
    height:70px;
    background: #00000040;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
}

#nav-bar__logo {
    width: 60px;
}

#nav-bar__menu {
    display: flex;
    gap: 30px;
}

#nav-bar__menu a {
    color: var(--clr-terciaria);
}

/***************** CONFIGURAÇÃO HOME *****************/
#container-main {
    width: 80%;
    background: var(--clr-segundaria);
    margin: 0 auto;
}

.capa-bg {
    min-height: 100vh;
    align-items: center;
}

#tatoo-capa {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

#txt-capa {
    width: 50%;
    margin: -35% auto;
    text-align: center;
}

#txt-capa p {
    margin-bottom: 50px;
}

#btn-historia {
    color: var(--clr-terciaria);
    font-family: 'Roboto', sans-serif;
    padding: 8px 20px;
    background-image: linear-gradient(to top, #8b1c03, #f23005);
    border-radius: 5px;
}

#btn-hamburger {
    display: none;
}

/***************** CONFIGURAÇÃO MOBILE HOME *****************/

@media screen and (max-width: 768px) {
    #container-main {
        width: 100%;
    }

    #nav-bar__menu {
        display: none;
    }

    #tatoo-capa {
        height: 100vh;
        object-fit: cover;
        object-position: center center;
    }

    #txt-capa {
        width: auto;
        position: relative;
        margin: -140% 20px 0px 20px;
        text-align: left;
    }

    #txt-capa a {
        margin-left: 30%;
    }
}

 /***************** CONFIGURAÇÃO HAMBURGER MOBILE *****************/

 @media screen and (max-width: 768px) {
    #nav-bar {
        width: 100%;
        justify-content: space-between;
    }

    #nav-bar__logo {
        margin-left: 20px;
    }

    #btn-hamburger {
        display: block;
    }

    #btn-mobile {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    #btn-mobile .line {
        display: block;
        width: 40px;
        height: 3px;
        background-color: #f1f1f1;
        margin: 10px 20px;
        border-radius: 4px;
        transition: .2s;
        opacity: .25s;
    }
}

/***************** CONFIGURAÇÃO STUDIO *****************/

#studio-conteudo, #trabalho-conteudo {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-top: 1px solid #f23005;
}


/***************** CONFIGURAÇÃO STUDIO CARROSSEL *****************/
#studio-carrossel, #trabalho-carrossel {
    width: 50vw;
    margin-bottom: 0px;
}

#carrossel-items {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.carrossel-img {
    flex: none;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    pointer-events: none;
}

#carrossel-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 15px solid #f23005;
}

#studio--txt h1 {
    width: 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f23005;
    margin: 0 0 20px 0;
}

#trabalho--txt h1 {
    width: 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f23005;
    margin: 0 0 20px 0;
}

#studio--descricao, #trabalho--descricao {
    width: 820px;
    margin: 0px;
    padding: 0px;
}

/***************** CONFIGURAÇÃO STUDIO MOBILE *****************/

@media screen and (max-width: 768px) {
    #studio-conteudo {
        min-height: 100vh;
        width: 100%;
        padding: 0;
    }

    #trabalho-conteudo {
        width: 100%;
        padding: 0;
    }

    #studio--txt, #trabalho--txt {
        margin: 0;
        padding: 0 20px;
    }

    #studio--descricao, #trabalho--descricao {
        width: 100%;
    }

    #studio-carrossel, #trabalho-carrossel {
        width: 100vw;
    }
}

/***************** CONFIGURAÇÃO GALERIA *****************/

#galeria-conteudo {
    padding: 10px 100px;
    border-top: 1px solid #f23005;
}

#galeria-conteudo h1 {
    width: 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f23005;
    margin-bottom: 30px;
}

#galeria-img img {
    filter:brightness(30%);
    width: 20%;
    border-radius: 0 0 40px 40px;
    border-top: 1px solid #f23005;
    border-left: 1px solid #f23005;
    border-right: 1px solid #f23005 ;;
    border-bottom: 15px solid #f23005;
}

#galeria-img img {
    margin-right: 34px;
    margin-bottom: 30px;
}

#galeria-img a:hover img {
    filter: none;
}

/***************** CONFIGURAÇÃO GALERIA MOBILE *****************/

@media screen and (max-width: 768px) {
    #galeria-conteudo {
        padding: 0 20px;
        overflow-x:  hidden;
    }

    #galeria-img {
        width: 100vw;
        display: flex;
        overflow: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    #galeria-img img {
        width: 85vw;
        margin-right: 15px;
        filter:brightness(100%);
        scroll-snap-align: start;
    }
}

/***************** CONFIGURAÇÃO ARTISTA *****************/

#artista-conteudo {
    padding: 10px 100px;
    border-top: 1px solid #f23005;
}

#artista-conteudo h1 {
    width: 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f23005;
    margin-bottom: 30px;
}

#artista-img img {
    width: 23%;
    margin-right: 10px;
    border-radius: 0 0 40px 40px;
    border-top: 1px solid #f23005;
    border-left: 1px solid #f23005;
    border-right: 1px solid #f23005 ;;
    border-bottom: 15px solid #f23005;
}

/***************** CONFIGURAÇÃO CLIENTE *****************/

#cliente-conteudo {
    width: 820px;
    display: flex;
    margin: 0px auto;
    padding: 0;
    align-items: center;
    gap: 50px;
}

#cliente-conteudo img {
    height: 80%;
    align-self: flex-end;
}

#cliente-descricao h1 {
    width: 100px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f23005;
    margin-bottom: 30px;
}

#cliente-descricao p {
    background: #f2310530;
    padding: 20px;
    border-radius: 10px;
}

/***************** CONFIGURAÇÃO RODAPÉ *****************/
footer {
    width: 100%;
    height: 150px;
    background: #060606;
    color: white;
    margin-top: 30px;
    padding-top: 50px;
    text-align: center;
}