/***************** CONFIGURARÇÃO VARIÁVEIS *****************/

:root {
    /****** CORES *******/
    --clr-primaria: #f23005;
    --clr-segundaria: #1F2326;
    --clr-terciaria: #f1f1f1;
}

/****** FONTES *******/
@font-face {
    font-family: 'Backslash';
    src: url('../fonts/Backslash-Reguler.otf') format ('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format ('truetype');
    font-weight: normal;
    font-style: normal;
}

/***************** CONFIGURARÇÃO GERAL *****************/

body {
    background: var(--clr-terciaria);
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

/***************** CONFIGURARÇÃO NAVEGAÇÃO *****************/

#nav-bar {
    width: 80%;
    height: 100px;
    background: #00000040;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 9999px;
}

#nav-bar__logo {
    width: 80px;
}

#nav-bar__menu {
    display: flex;
    gap: 30px;
}

#nav-bar__menu a {
    color: var(--clr-terciaria);
}

/***************** CONFIGURARÇÃO HOME *****************/
#container-main {
    width: 80%;
    background: var(--clr-segundaria);
    margin: 0 auto;
    /* position: relative; */
    align-content: center;
}

#tatoo-capa {
    margin-top: 0px;
    background-position: center center;
    width: 100%;
}

#txt-capa {
    color: #f1f1f1;
    width: 50%;
    margin: -50% auto;
    text-align: center;
}

#txt-capa h1 {
    font-family: 'Backslash', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.2rem;
    line-height: 3.5rem;
}

h1 .destaque {
    color: var(--clr-primaria);
}

#txt-capa p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1.8rem;
    margin-bottom: 50px;
}

#btn-historia {
    color: var(--clr-terciaria);
    font-family: 'Roboto', sans-serif;
    padding: 8px 20px;
    background-image: linear-gradient(to top, #8b1c03, #f23005);
    border-radius: 5px;
}

#btn-hamburger {
    display: none;
}

/***************** CONFIGURARÇÃO MOBILE HOME *****************/

@media screen and (max-width: 768px) {
    #container-main {
        width: 100%;
    }

    #nav-bar__menu {
        display: none;
    }

    #tatoo-capa {
        height: 100vh;
        object-fit: cover;
        object-position: center center;
    }

    #txt-capa {
        color: #f1f1f1;
        width: auto;
        position: relative;
        margin: -140% 20px 0px 20px;
        text-align: left;
    }

    #txt-capa h1 {
        font-size: 3rem;
    }

    #txt-capa p {
        font-size: 1rem;
        font-weight: 100;
    }

    #txt-capa a {
        margin-left: 30%;
    }
}

 /***************** CONFIGURARÇÃO HAMBURGER MOBILE *****************/

@media screen and (max-width: 768px) {
    #nav-bar {
        width: 100%;
        justify-content: space-between;
    }

    #nav-bar__logo {
        margin-left: 20px;
    }

    #btn-hamburger {
        display: block;
    }

    #btn-mobile {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    #btn-mobile .line {
        display: block;
        width: 40px;
        height: 3px;
        background-color: #f1f1f1;
        margin: 10px;
        border-radius: 4px;
        transition: .2s;
        opacity: .25s;
    }
}
